@import '../../../assets/styles/variables';
.navbar {
    background: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 1.5rem 0;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

.navbar-nav {
    flex-direction: row;
    align-items: center;
    a:not(.btn) {
        padding: 0;
        margin-left: 3rem;
        color: $cement;
        font-weight: bold;
    }
    li:first-child {
        a {
            margin-left: 0;
        }
    }

    .btn {
      padding: .9rem 2.5rem;
      margin-left: 3rem;
      font-size: 1.5rem;
    }
}
